services:
  php-apache-environment:
    container_name: php-apache
    build:
      context: ./php-apache
      dockerfile: Dockerfile
    volumes:
      - ../:/var/www/html/
    ports:
      - "${APACHE_PORT}:80"
  mysql-environment:
    container_name: mysql
    image: mysql:8.4.7-oraclelinux9
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
